<div class="home-container">
  <app-sidebar />
  <div class="content">
    <h2>เพิ่มผลิตภัณฑ์ใหม่</h2>

    <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="form">
      <label>ชื่อสินค้า</label>
      <input
        type="text"
        [(ngModel)]="form.name"
        name="name"
        required
        [disabled]="!canManageProducts()"
      />

      <label>รายละเอียด</label>
      <textarea
        [(ngModel)]="form.description"
        name="description"
        required
        [disabled]="!canManageProducts()"
      ></textarea>

      <label>ราคา</label>
      <input
        type="number"
        [(ngModel)]="form.price"
        name="price"
        required
        [disabled]="!canManageProducts()"
      />

      <label>สถานะ</label>
      <select
        [(ngModel)]="form.status"
        name="status"
        required
        [disabled]="!canManageProducts()"
      >
        <option value="ACTIVE">ACTIVE</option>
        <option value="INACTIVE">INACTIVE</option>
      </select>

      <!-- <label>ลิงก์รูปภาพ</label>
      <input type="text" [(ngModel)]="form.image" name="image" /> -->
      <label>รูปภาพ</label>
      <input
        type="file"
        (change)="onFileChange($event)"
        accept="image/*"
        [disabled]="!canManageProducts()"
      />
      <img *ngIf="imagePreview" [src]="imagePreview" width="120" />

      <div *ngIf="canManageProducts()" class="button-row">
        <button type="submit">บันทึก</button>
        <button type="button" (click)="onDelete()" class="cancel-btn">
          ลบ
        </button>
      </div>
    </form>

    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</div>
